@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300;1,700&display=swap');
/* Configuração do documento */
* { 
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Merriweather", serif;
    font-size: 18px;
}

body {
    min-height: 100vh;
    width: 100%;
    border: 5px dashed red;
}

.main {
    display: grid;  
    grid-gap: 5%;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));  
}

/* Header */

.header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;

}

.navegacao {

    display: flex;
    width: 95%;
    height: 65%;
    background-color: rgba(215, 81, 108, 84);
    border-radius: 60px;

    
}

.navegacao ul {    
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

.navegacao ul li {

    padding: 2%;
    display: inline-block;
    
}

.navegacao ul li a {
    font-weight: bold;
    font-size: 100%;
    text-decoration: none;
    color: white;
}

/* Content */

.sessoes {
    grid-row-start: 2;
    grid-row-end: 5;
}